body {
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
}
 
.titel {
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    margin: 1%;
    padding-bottom: 1%;
    float: left;
    background-color: black;
    color: snow;
}
#tagline{
    font-size: 1em;
    background-color:black;
    color: snow;
    padding: 2% 0% 1% 0%;
 
}
#header{
    margin: 1% 5% 1% 10%;
    width: 75%;
    height: 75%;
}

nav {
    background-color: aqua;
    margin-top: 1%;   
    padding: 1%;
    background-color: black;
    
    
}
nav a {
    color: snow;
    text-decoration: none;
    margin-right: 8%;
    display: inline-block;
    padding:1%;
}
nav a:hover{
    
    background-color: firebrick;
    color: black;
}
.posts{
    margin: 2% 2% 0% 2%;
    background-color: beige;
    padding: 1%;
}
.datum {
    margin-top:2px;
    font-size: 0.8em;
}
.blogpost{
    margin-top: 1%;
}
.thumb {
    width: 50%;
    height: 50%;
    float: left;
    margin:0% 3% 2% 5%;
}
.tags {
    clear: both;
    margin: 1% 1% 1% 5%;
}
.footer{
    background-color: black;
    color: snow;
    margin-top: 2%;
    clear: both;
    text-align: center;
    font-size: 0.7em;
    padding: 1%;
}